# Environment Variables
.env
.env.local
*.env

# Binaries & builds
dist/
build/
*.exe
*.dll
*.so
*.dylib
server

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & OS
.DS_Store
.idea/
.vscode/
Thumbs.db
